.location-cards {
    display: inline-flex;
}

.location-cards picture img {
    object-position: center;
    object-fit: cover;
    width: 425px;
    height: 600px;
    border-radius: .25rem;
}

.location-cards div h2 {
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
}

.location-cards div p.button-container a.button {
    font-size: 16px;
    margin-bottom: 5px;
    background-color: transparent;
    font-weight: 300;
    color: black;
    padding: 0px;
}

.location-cards div div p {
    font-size: 16px;
    line-height: 1.25rem;
    color: rgba(72, 72, 72, 1);
    margin: 0;
}

.location-card-image:first-of-type{
    background-color: hotpink;
    padding: 50px;
}

.location-card-image:nth-last-of-type(even){
    background-color: lightblue;
    padding: 50px;
}

.location-cards ul li:nth-child(even){
    width: 50px;
    overflow: scroll;
}